<h1>Pictures!</h1>

<%= link_to "New Picture", "/pictures/new" %>

<% @pictures.each do |picture| %>
<p><%= picture.title %>, <%= picture.artist %></p>
<%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>

<% end %>


<h1>Most recent pictures</h1>
<ul>
  <% @most_recent_pictures.each do |picture| %>
  <li><%= picture.title %></li>
  <% end %>
</ul>


<h1>Archived Pictures</h1>
<%= Picture.created_before(1.month.ago).each do |picture| %>
<%= link_to image_tag(picture.url), picture %>

<% end %>